name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x project_01_android/gradlew

      - name: Run JaCoCo Test Report
        run: ./project_01_android/gradlew -p ./project_01_android jacocoTestReport

      - name: Upload JaCoCo HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-html-report
          path: project_01_android/app/build/reports/jacoco/jacocoTestReport/html

      - name: Upload JaCoCo XML Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-xml-report
          path: project_01_android/app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml